<!DOCTYPE html>
<html>
<head>
<title>Reset Password</title>
<style>
body { font-family: Arial; background:#764ba2; color:white; display:flex; justify-content:center; align-items:center; height:100vh;}
.box { background:rgba(255,255,255,0.1); padding:30px; border-radius:10px;}
input,button { padding:10px; width:100%; margin:10px 0;}
button { background:green; border:none;}
</style>
</head>

<body>

<div class="box">
<h2>Reset Password</h2>

<form method="POST">
    <input type="password" name="password" placeholder="New Password" required>
    <button>Update Password</button>
</form>

</div>

</body>
</html>